.icons{
    background-color: rgba(128, 128, 128, 0.295);

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        li{
            padding: 20px;
            a{
                color: rgb(165, 33, 33);
                &:hover{
                    color: rgba(165, 33, 33, 0.623);
                }
            }
        }
    }
}

.copyright{
    background-color:  rgba(0, 0, 0, 0.89);
    height: 15vh;
    display: flex;
    align-items: center;
    text-align: center;
    p{
        color: white;
        font-family: 'Dongle', sans-serif;
    }
}