.carousel{
    background-color: #222;
}


.slide1 {
    height: 70vh;
    background-image: url(../media/slide1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    height: 70vh;
    background-image: url(../media/products.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .products {
        background-color: rgba(0, 0, 0, 0.322);
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: white;
            font-family: 'Permanent Marker', cursive;
            padding: 20px;
        }

        a{
            text-decoration: none;
        }
    
        .btn {
            border: none;
            display: block;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            outline: none;
            overflow: hidden;
            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            background-color: #222;
            padding: 17px 60px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
            
        }
        .btn span {
            position: relative; 
            z-index: 1;
          }
          
          .btn:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 490%;
            width: 140%;
            background: rgb(165, 33, 33);
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
            transform: translateX(-98%) translateY(-25%) rotate(45deg);
          }
          
          .btn:hover:after {
            -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
            transform: translateX(-9%) translateY(-25%) rotate(45deg);
          }
    }
}

.slide3{
    height: 70vh;
    background-image: url(../media/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .products {
        background-color: rgba(0, 0, 0, 0.322);
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: white;
            font-family: 'Permanent Marker', cursive;
            padding: 20px;
        }

        a{
            text-decoration: none;
        }
    
        .btn {
            border: none;
            display: block;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            outline: none;
            overflow: hidden;
            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            background-color: #222;
            padding: 17px 60px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
            
        }
        .btn span {
            position: relative; 
            z-index: 1;
          }
          
          .btn:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 490%;
            width: 140%;
            background: rgb(165, 33, 33);
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
            transform: translateX(-98%) translateY(-25%) rotate(45deg);
          }
          
          .btn:hover:after {
            -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
            transform: translateX(-9%) translateY(-25%) rotate(45deg);
          }
    }
}