.products{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
    text-align: center;
    .title{
        margin-top: 80px;
        .titletext{
            padding: 20px;
            h1{
                color: #922124;
                font-family: 'Permanent Marker', cursive;
            }
        }
    }

    .button{
        background-color: #922124;
        border: none;
        margin-top: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
}