.products{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
    .title{
        text-align: center;
        margin-top: 80px;
        .titletext{
            padding: 20px;
            h1{
                color: #922124;
                font-family: 'Permanent Marker', cursive;
            }
        }
    }
}